{% extends "layout.html" %}

{% block title %}
Instructions
{% endblock %}

{% block main %}
<h1>Instructions</h1>
<p><strong>This is Plastic Disposal</strong> – a website made to educate you on how to effectively use plastic and how to get rid of it. Our Earth is slowly degrading,
and the time has come for us to take steps to fix it. With India pushing to remove single-use plastics from the nation, we should focus on trying to keep all other plastics to a minimum as well.
<strong>Welcome to the website!</strong></p>
{% endblock %}